html {
  width: 100vw;
  height: 100vh;
  outline: 1px solid red;
  font-size: 10px;
  background-color: white;
}

.header {
  height: 10vh;
  width: 95vw;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.left-header {
  margin-left: 0px;
  text-align: left;
  display: flex;
  flex-grow: 1;
}
.right-header {
  display: flex;
  gap: 20px;
}
.right-header a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.right-header a:hover {
  color: red;
}
.body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 97.5vw;
  height: 85vh;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 1.8;
  text-align: center;
  color: aliceblue;
  font-size: 2vw;
}
.search-box {
  background-color: rgba(43, 42, 42, 0.567);
  width: 30vw;
  margin-top: 20vh;
  margin-left: 30vw;
  border-radius: 5px;
}
.search-box input {
  flex: 1;
  height: 5vh;
  width: 60%;
  border-radius: 5px;
  border: 1px;
  margin: 5px;
}
.search-box button {
  height: 5vh;
  width: 25%;
  background-color: rgb(241, 88, 0);
  margin: 5px;
  border-radius: 5px;
}
